# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

# SQLite
*.db

.secrets/
.env
*.env
credentials.json
client_secret.json
token.json
